# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Virtual Environment
venv/

# VS Code
.vscode/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3

# Environment variables
.env

# Migrations
*/migrations/*

# macOS
.DS_Store


*.bak
*.tmp
